<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Dummy injector for Gemeinschaft System Environment</description>
  <displayName>GSE (Production)</displayName>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Run.Delete:jpawlowski</permission>
      <permission>hudson.model.Run.Delete:wintermeyer</permission>
      <permission>hudson.model.Item.Discover:anonymous</permission>
      <permission>hudson.model.Item.Discover:spag</permission>
      <permission>hudson.model.Item.Discover:jpawlowski</permission>
      <permission>hudson.model.Item.Discover:saschadaniels</permission>
      <permission>hudson.model.Item.Discover:wintermeyer</permission>
      <permission>hudson.model.Item.Build:spag</permission>
      <permission>hudson.model.Item.Build:jpawlowski</permission>
      <permission>hudson.model.Item.Build:saschadaniels</permission>
      <permission>hudson.model.Item.Build:wintermeyer</permission>
      <permission>hudson.scm.SCM.Tag:jpawlowski</permission>
      <permission>hudson.scm.SCM.Tag:wintermeyer</permission>
      <permission>hudson.model.Run.Update:spag</permission>
      <permission>hudson.model.Run.Update:jpawlowski</permission>
      <permission>hudson.model.Run.Update:saschadaniels</permission>
      <permission>hudson.model.Run.Update:wintermeyer</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:spag</permission>
      <permission>hudson.model.Item.Read:jpawlowski</permission>
      <permission>hudson.model.Item.Read:saschadaniels</permission>
      <permission>hudson.model.Item.Read:wintermeyer</permission>
      <permission>hudson.model.Item.Delete:jpawlowski</permission>
      <permission>hudson.model.Item.Delete:wintermeyer</permission>
      <permission>hudson.model.Item.Workspace:spag</permission>
      <permission>hudson.model.Item.Workspace:jpawlowski</permission>
      <permission>hudson.model.Item.Workspace:saschadaniels</permission>
      <permission>hudson.model.Item.Workspace:wintermeyer</permission>
      <permission>hudson.model.Item.Cancel:jpawlowski</permission>
      <permission>hudson.model.Item.Cancel:wintermeyer</permission>
      <permission>hudson.model.Item.Configure:jpawlowski</permission>
      <permission>hudson.model.Item.Configure:wintermeyer</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.5">
      <projectUrl>https://github.com/amooma/GBE-system/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@1.2.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <refspec></refspec>
        <url>https://github.com/amooma/GBE-system.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <localBranch>master</localBranch>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>true</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>true</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir>.ci/GSE</relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>true</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>jobs/PROD-GS_00_GBE/workspace</customWorkspace>
  <builders/>
  <publishers>
    <jenkins.plugins.displayupstreamchanges.DisplayUpstreamChangesRecorder plugin="display-upstream-changes@0.1"/>
    <hudson.tasks.test.AggregatedTestResultPublisher>
      <includeFailedBuilds>true</includeFailedBuilds>
    </hudson.tasks.test.AggregatedTestResultPublisher>
    <hudson.tasks.BuildTrigger>
      <childProjects>PROD-GS_20_GS5</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>