<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Provides the workspace basis for building Gemeinschaft 5</description>
  <displayName>GBE (Development)</displayName>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Run.Delete:jpawlowski</permission>
      <permission>hudson.model.Run.Delete:wintermeyer</permission>
      <permission>hudson.model.Item.Discover:anonymous</permission>
      <permission>hudson.model.Item.Discover:spag</permission>
      <permission>hudson.model.Item.Discover:jpawlowski</permission>
      <permission>hudson.model.Item.Discover:saschadaniels</permission>
      <permission>hudson.model.Item.Discover:wintermeyer</permission>
      <permission>hudson.model.Item.Build:spag</permission>
      <permission>hudson.model.Item.Build:jpawlowski</permission>
      <permission>hudson.model.Item.Build:saschadaniels</permission>
      <permission>hudson.model.Item.Build:wintermeyer</permission>
      <permission>hudson.scm.SCM.Tag:jpawlowski</permission>
      <permission>hudson.scm.SCM.Tag:wintermeyer</permission>
      <permission>hudson.model.Run.Update:spag</permission>
      <permission>hudson.model.Run.Update:jpawlowski</permission>
      <permission>hudson.model.Run.Update:saschadaniels</permission>
      <permission>hudson.model.Run.Update:wintermeyer</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:spag</permission>
      <permission>hudson.model.Item.Read:jpawlowski</permission>
      <permission>hudson.model.Item.Read:saschadaniels</permission>
      <permission>hudson.model.Item.Read:wintermeyer</permission>
      <permission>hudson.model.Item.Delete:jpawlowski</permission>
      <permission>hudson.model.Item.Delete:wintermeyer</permission>
      <permission>hudson.model.Item.Workspace:spag</permission>
      <permission>hudson.model.Item.Workspace:jpawlowski</permission>
      <permission>hudson.model.Item.Workspace:saschadaniels</permission>
      <permission>hudson.model.Item.Workspace:wintermeyer</permission>
      <permission>hudson.model.Item.Cancel:jpawlowski</permission>
      <permission>hudson.model.Item.Cancel:wintermeyer</permission>
      <permission>hudson.model.Item.Configure:jpawlowski</permission>
      <permission>hudson.model.Item.Configure:wintermeyer</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.5">
      <projectUrl>https://github.com/amooma/GBE/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>REINSTALL</name>
          <description>Choose to completely cleanup/uninstall the build environment and re-install instead of just updating it.
(Updating only should be default)</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>no</string>
              <string>yes</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@1.2.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <refspec></refspec>
        <url>https://github.com/amooma/GBE.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>develop</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>true</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <quietPeriod>2000</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.5">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
    <hudson.triggers.SCMTrigger>
      <spec>1 */2 * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
if [[ &quot;${REINSTALL}&quot; == &quot;yes&quot; ]]
 then
 ./gdfdl-ci/00-uninstall/00-run.sh
 ./gdfdl-ci/01-install/00-run.sh
 ./gdfdl-ci/02-update/00-run.sh
else
 ./gdfdl-ci/02-update/00-run.sh
fi</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <jenkins.plugins.displayupstreamchanges.DisplayUpstreamChangesRecorder plugin="display-upstream-changes@0.1"/>
    <hudson.tasks.test.AggregatedTestResultPublisher>
      <includeFailedBuilds>true</includeFailedBuilds>
    </hudson.tasks.test.AggregatedTestResultPublisher>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.27.1">
      <recipientList>$DEFAULT_RECIPIENTS</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FirstFailureTrigger>
          <email>
            <recipientList>jp@jps-networks.de</recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <sendToRequester>true</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>false</sendToRecipientList>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo></replyTo>
          </email>
          <failureCount>1</failureCount>
        </hudson.plugins.emailext.plugins.trigger.FirstFailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.FixedTrigger>
          <email>
            <recipientList>jp@jps-networks.de</recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <sendToRequester>true</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>false</sendToRecipientList>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo></replyTo>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FixedTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript></presendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_RECIPIENTS</replyTo>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <hudson.tasks.BuildTrigger>
      <childProjects>DEV-GS_10_GSE</childProjects>
      <threshold>
        <name>UNSTABLE</name>
        <ordinal>1</ordinal>
        <color>YELLOW</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>