<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>FreeSWITCH for Debian Wheezy 64-Bit</description>
  <displayName>FreeSWITCH wheezy/testing amd64</displayName>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Discover:anonymous</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>git://git.freeswitch.org/freeswitch</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir>freeswitch</relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <quietPeriod>180</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -ex
#

# settings
#
distro=wheezy
arch=amd64
suite=testing

rm -f *.tar.gz *.tar.xz *.dsc *.build *.changes *.deb

# Install basic Debian maintainer packages
#sudo apt-get -y --force-yes install -qq build-essential git-buildpackage udev autoconf automake autotools-dev debhelper dh-make devscripts fakeroot file gfortran git gnupg gpc lintian patch patchutils pbuilder perl python python xutils-dev

[ ! -d /var/cache/pbuilder/base-${distro}-${arch}.cow ] &amp;&amp; DIST=${distro} ARCH=${arch} git-pbuilder create || DIST=${distro} ARCH=${arch} git-pbuilder update
[ ! -L /dev/fd ] &amp;&amp; sudo ln -s /proc/self/fd /dev/fd
[ ! -d ./freeswitch ] &amp;&amp; git clone git://git.freeswitch.org/freeswitch freeswitch


cd freeswitch

ver=&quot;$(cat build/next-release.txt | sed -e &apos;s/-/~/g&apos;)~n$(date +%Y%m%dT%H%M%SZ)-1~${distro}+1&quot;
git clean -fdx &amp;&amp; git reset --hard HEAD
./build/set-fs-version.sh &quot;$ver&quot;
git add configure.in &amp;&amp; git commit -m &quot;bump to custom v$ver&quot;
[ -f ../modules_${distro}.conf ] &amp;&amp; cp -L ../modules_${distro}.conf debian/modules.conf
(cd debian &amp;&amp; ./bootstrap.sh -c $distro)
dch -b -m -v &quot;$ver&quot; --force-distribution -D &quot;$suite&quot; &quot;Custom build.&quot;

# Needs sudo right if user!=root:
# username ALL= SETENV: ALL, NOPASSWD: /usr/sbin/cowbuilder
git-buildpackage -b -us -uc \
  --git-verbose \
  --git-pbuilder --git-dist=$distro --git-arch=$arch \
  --git-keyid=83AF64E1 \
  --git-compression-level=1v --git-compression=xz
git reset --hard HEAD^

cd -</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <jenkins.plugins.publish__over__ssh.BapSshPublisherPlugin>
      <consolePrefix>SSH: </consolePrefix>
      <delegate>
        <publishers>
          <jenkins.plugins.publish__over__ssh.BapSshPublisher>
            <configName>JPS Debian Repository</configName>
            <verbose>false</verbose>
            <transfers>
              <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <remoteDirectory>build/${BUILD_TAG}</remoteDirectory>
                <sourceFiles>*.*</sourceFiles>
                <excludes></excludes>
                <removePrefix></removePrefix>
                <remoteDirectorySDF>false</remoteDirectorySDF>
                <flatten>false</flatten>
                <cleanRemote>false</cleanRemote>
                <execCommand>reprepro -Vb /var/www/debian include wheezy /var/www/debian/build/${BUILD_TAG}/*.changes &amp;&amp; rm -rf /var/www/debian/build/${BUILD_TAG}/</execCommand>
                <execTimeout>300000</execTimeout>
                <usePty>false</usePty>
              </jenkins.plugins.publish__over__ssh.BapSshTransfer>
            </transfers>
            <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
            <usePromotionTimestamp>false</usePromotionTimestamp>
            <retry class="jenkins.plugins.publish_over_ssh.BapSshRetry">
              <retries>10</retries>
              <retryDelay>15000</retryDelay>
            </retry>
          </jenkins.plugins.publish__over__ssh.BapSshPublisher>
        </publishers>
        <continueOnError>false</continueOnError>
        <failOnError>true</failOnError>
        <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
        <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshPublisherPlugin>
    <hudson.plugins.postbuildtask.PostbuildTask>
      <tasks>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText>dpkg-genchanges:</logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>false</EscalateStatus>
          <RunIfJobSuccessful>false</RunIfJobSuccessful>
          <script>rm -f *.tar.gz *.tar.xz *.dsc *.build *.changes *.deb</script>
        </hudson.plugins.postbuildtask.TaskProperties>
      </tasks>
    </hudson.plugins.postbuildtask.PostbuildTask>
    <hudson.tasks.Mailer>
      <recipients>jp@jps-networks.eu</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>