<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Gemeinschaft 5 nightly development build</description>
  <displayName>Gemeinschaft 5 (Nightly Build)</displayName>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Delete:jpawlowski</permission>
      <permission>hudson.model.Item.Configure:jpawlowski</permission>
      <permission>hudson.model.Item.Cancel:jpawlowski</permission>
      <permission>hudson.model.Run.Update:spag</permission>
      <permission>hudson.model.Run.Update:jpawlowski</permission>
      <permission>hudson.model.Run.Update:saschadaniels</permission>
      <permission>hudson.model.Run.Update:wintermeyer</permission>
      <permission>hudson.model.Item.Workspace:spag</permission>
      <permission>hudson.model.Item.Workspace:jpawlowski</permission>
      <permission>hudson.model.Item.Workspace:saschadaniels</permission>
      <permission>hudson.model.Item.Workspace:wintermeyer</permission>
      <permission>hudson.model.Item.Build:spag</permission>
      <permission>hudson.model.Item.Build:jpawlowski</permission>
      <permission>hudson.model.Item.Build:saschadaniels</permission>
      <permission>hudson.model.Item.Build:wintermeyer</permission>
      <permission>hudson.scm.SCM.Tag:jpawlowski</permission>
      <permission>hudson.model.Item.Read:spag</permission>
      <permission>hudson.model.Item.Read:authenticated</permission>
      <permission>hudson.model.Item.Read:jpawlowski</permission>
      <permission>hudson.model.Item.Read:saschadaniels</permission>
      <permission>hudson.model.Item.Read:wintermeyer</permission>
      <permission>hudson.model.Item.Discover:anonymous</permission>
      <permission>hudson.model.Item.Discover:spag</permission>
      <permission>hudson.model.Item.Discover:authenticated</permission>
      <permission>hudson.model.Item.Discover:jpawlowski</permission>
      <permission>hudson.model.Item.Discover:saschadaniels</permission>
      <permission>hudson.model.Item.Discover:wintermeyer</permission>
      <permission>hudson.model.Run.Delete:jpawlowski</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.4">
      <projectUrl>https://github.com/amooma/GS5/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@1.1.26">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>GS5</name>
        <refspec></refspec>
        <url>git@github-gs5:amooma/GS5.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>develop</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <relativeTargetDir>.ci/gemeinschaft</relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <quietPeriod>60</quietPeriod>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>30 6 * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>workspace/DEV-GS_00_GBE</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>export GIT_BRANCH
./gdfdl-ci/03-build/00-run.sh
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <jenkins.plugins.displayupstreamchanges.DisplayUpstreamChangesRecorder plugin="display-upstream-changes@0.1"/>
    <jenkins.plugins.publish__over__ssh.BapSshPublisherPlugin plugin="publish-over-ssh@1.9">
      <consolePrefix>SSH: </consolePrefix>
      <delegate>
        <publishers>
          <jenkins.plugins.publish__over__ssh.BapSshPublisher>
            <configName>AMOOMA GS ISO Upload</configName>
            <verbose>true</verbose>
            <transfers>
              <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <remoteDirectory>&apos;${GIT_BRANCH}/&apos;yyyyMMddHHmm</remoteDirectory>
                <sourceFiles>.ci/GEMEINSCHAFT*/be/iso/*.*</sourceFiles>
                <excludes>.ci/GEMEINSCHAFT*/be/iso/*_latest*</excludes>
                <removePrefix></removePrefix>
                <remoteDirectorySDF>true</remoteDirectorySDF>
                <flatten>true</flatten>
                <cleanRemote>false</cleanRemote>
                <noDefaultExcludes>false</noDefaultExcludes>
                <makeEmptyDirs>false</makeEmptyDirs>
                <execCommand></execCommand>
                <execTimeout>120000</execTimeout>
                <usePty>false</usePty>
              </jenkins.plugins.publish__over__ssh.BapSshTransfer>
              <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <remoteDirectory>&apos;${GIT_BRANCH}/&apos;yyyyMMddHHmm</remoteDirectory>
                <sourceFiles>.ci/GEMEINSCHAFT*/be/iso/*</sourceFiles>
                <excludes>.ci/GEMEINSCHAFT*/be/iso/*.*</excludes>
                <removePrefix></removePrefix>
                <remoteDirectorySDF>true</remoteDirectorySDF>
                <flatten>true</flatten>
                <cleanRemote>false</cleanRemote>
                <noDefaultExcludes>false</noDefaultExcludes>
                <makeEmptyDirs>false</makeEmptyDirs>
                <execCommand></execCommand>
                <execTimeout>120000</execTimeout>
                <usePty>false</usePty>
              </jenkins.plugins.publish__over__ssh.BapSshTransfer>
            </transfers>
            <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
            <usePromotionTimestamp>false</usePromotionTimestamp>
            <retry class="jenkins.plugins.publish_over_ssh.BapSshRetry">
              <retries>5</retries>
              <retryDelay>10000</retryDelay>
            </retry>
            <credentials class="jenkins.plugins.publish_over_ssh.BapSshCredentials">
              <secretPassphrase>6Cj94dTf05YdjX8gPy6LEw==</secretPassphrase>
              <key></key>
              <keyPath>.ssh/id_rsa-gs5</keyPath>
              <username>gs-iso</username>
            </credentials>
          </jenkins.plugins.publish__over__ssh.BapSshPublisher>
        </publishers>
        <continueOnError>false</continueOnError>
        <failOnError>false</failOnError>
        <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
        <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshPublisherPlugin>
    <hudson.plugins.postbuildtask.PostbuildTask plugin="postbuild-task@1.8">
      <tasks>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText>Removing files older</logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>false</EscalateStatus>
          <RunIfJobSuccessful>false</RunIfJobSuccessful>
          <script>./gdfdl-ci/04-QA/00-run.sh&#xd;
./gdfdl-ci/05-deploy/00-run.sh&#xd;
./gdfdl-ci/06-cleanup/00-run.sh&#xd;
</script>
        </hudson.plugins.postbuildtask.TaskProperties>
      </tasks>
    </hudson.plugins.postbuildtask.PostbuildTask>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.25">
      <recipientList>$DEFAULT_RECIPIENTS</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
          <email>
            <recipientList>stefan.wintermeyer@amooma.de</recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <sendToRequester>true</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <replyTo></replyTo>
          </email>
        </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript></presendScript>
      <attachBuildLog>false</attachBuildLog>
      <replyTo></replyTo>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers/>
</project>